.modal-substrate {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.15);
}

.v-application {
	a {
		color: #111;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	nav a {
		font-weight: 700;
	}

	.product-variations, .product-information {
		a:hover {
			text-decoration: none;

			.v-banner__text {
				text-decoration: underline;
			}
		}
	}
}
